body {
  font-family: Arial, sans-serif;
  background: var(--columbia);
  margin: 0;
}

header {
  background: #0D273D;
  color: white;
  padding: 15px;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

button {
  background: #3E6985;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #8AA7BC;
  color: white;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

